<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>trng.servlets.HelloServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>trng.servlets.LoginServlet</servlet-class>

        <init-param>
            <param-name>authentionUrl</param-name>
            <param-value>http://abc.com/authenticate</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>trng.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountOperationsServlet</servlet-name>
        <servlet-class>trng.servlets.AccountOperationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccount</servlet-name>
        <jsp-file>/DisplayAccount.jsp</jsp-file>
    </servlet>

    <filter>
        <display-name>UserValidationFilter</display-name>
        <filter-name>UserValidationFilter</filter-name>
        <filter-class>trng.servlets.filters.UserValidationFilter</filter-class>
    </filter>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountOperationsServlet</servlet-name>
        <url-pattern>/accountOperations.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccount</servlet-name>
        <url-pattern>/ViewAccount</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>UserValidationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <!--<url-pattern>/mainPage.do</url-pattern>-->
        <!--<url-pattern>/GuestLogin</url-pattern>-->
    </filter-mapping>

    <jsp-config>
        <taglib>
            <taglib-uri>coretag</taglib-uri>
            <taglib-location>/WEB-INF/tags/c.tld</taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>formattag</taglib-uri>
            <taglib-location>/WEB-INF/tags/fmt.tld</taglib-location>
        </taglib>

    </jsp-config>
</web-app>
